// POOUR TOUTE MODIFICATION AU HEADER (NAV + BANNER)
header
    nav
        .active
            background-color: #f43838
        a
            font-family: $policeText
            font-size: 15px
            color: $colorWhite
        a:hover
            color: $colorWhite
            background-color: $colorRed
    .col-2
        padding: 0 0    
#banner
    height: 869px
    background: center / contain no-repeat url('../images/banner1.jpg')
.policebanner
    font-family: $policeBanner
    color: $colorWhite
    p
        font-size: 2em !important
    em
        font-size: 2em !important
    a
        font-size: 12px
        font-family: $policeText
