// POOUR TOUTE MODIFICATION AU HEADER (NAV + BANNER)
header
    nav
        .active
            background-color: #f43838
        a
            font-family: $policeText
            font-size: 15px
            color: $colorWhite
        a:hover
            color: $colorWhite
            background-color: $colorRed
    .col-2
        padding: 0 0    
#slide #carouselExampleIndicators 
    height: 100vh
    position: relative
    img 
        filter: brightness(0.2)
        height: 100vh
        width: auto
    
    .carousel-point 
        height: 16px !important
        width: 16px !important
        border-radius: 50% !important
    
    .active 
        background-color: white
        position: relative
        .point 
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-color: white
            width: 12px
            height: 12px
            border-radius: 50%
            border: 3px solid rgba(0, 0, 0, 0.699)
        
    
    #text-accueil 
        z-index: 1000
        font-family: Courgette
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        li button 
            font-family: Arial, Helvetica, sans-serif
            border-radius: 30px
        
    

.policebanner
    font-family: $policeBanner
    color: $colorWhite
    p
        font-size: 2em !important
    em
        font-size: 2em !important
    a
        font-size: 12px
        font-family: $policeText
