// MODIFICATION SECTION CONTACT
#contact
    background-image: url('../images/main_bg.jpg')
    overflow: hidden
    #bg-formulaire
        background-image: url('../../images/book_table_bg.jpg')
        border-radius: $borderRadius
    .row
        margin: 5px 0
        button
            border-radius: $borderRadiusPetit
            margin-top: 5px
            margin-bottom: 5px
            padding: 15px 9px
        .btn-group
            button
                padding-bottom: 11px !important
    
    h6
        font-size: 20px
    h5
        font-size: 16px
        margin-bottom: 0px
    h4
        font-size: 15px
#blog
    img
        border-radius: $borderRadius
        border: $borderVisible
    .row
        .col-sm-5
            
            h6
                display: inline-block
                border-radius: $borderRadiusPetit
                padding: 10px
                padding-right: 20px
                margin-bottom: 0
                text-align: left
                color: #ffffff
                font-size: 20px
                margin-top: -50px
                b
                    font-size: 30px
            h5
                font-weight: bold
                font-size: 20px
                text-align: left
            p
                text-align: left
