.menu 
    background-image: url("../../public/images/main_bg.jpg")
    padding-top: 5%
    padding-bottom: 5%
    .container 
        background-color: white
        position: relative
        img.corner-1 
            position: absolute
            top: 0
            left: 0
         
        img.corner-2 
            position: absolute
            top: 0
            right: 0
         
        img.corner-3 
            position: absolute
            bottom: 0
            left: 0
         
        img.corner-4 
            position: absolute
            bottom: 0
            right: 0
        
        h1 
            font-family: Courgette
        
        .tabulation 
            font-family: Courgette
            border-right: solid 1px lightgray
            padding-right: 0

            .nav-link 
                color: black
                border-bottom: solid 1px lightgray
                border-radius: 0%
                i 
                    color: lightgray
                    padding-top: 10px
                    padding-bottom: 10px
                
            
            .active 
                background-color: white !important
                color: dark !important
                border-right: solid $danger 5px !important
                i 
                    color: $danger !important
                
            
        
        .carte-menu 
            .media 
                border-bottom: dotted 1px lightgray
            
            .badge 
                background-color: lightgray
        
    

