// MODIFICATION POUR LE MENU ET LA PRESENTATION DU RESTAURANT
#main1
    background-image: url('../images/main_bg.jpg')
    .row
        #mug
            color: #DB3545
        .mug
            border-right-color: #DB3545
            border-right-width: 5px
            border-right-style: solid
        i
            font-size: 45px
            color: $argent
        i:hover
            font-size: 45px
            color: #DB3545
        h1
            font-size: 30px
        .col-2
            height: 83px
        .row
            border-bottom: dashed
            border-bottom-width: 1px
            h6
                font-weight: bold
                font-size: 20px
            p
                font-size: 15px !important
                font-family: $policeText
            img
                border-radius: 100% 
                border: solid 4px $argent
                width: 90%
            h4
                background-color: $argent
                font-size: 18px
                padding: 0 5px
                text-align: center


        