// LES VARIABLES
$policeText : 'Ubuntu Condensed', sans-serif
$policeBanner : 'Courgette', cursive
$centerBox : 50%
$argent: #bdc3c7
$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts"
$borderRadius: 20px 20px
$borderVisible: solid $argent 4px
$borderRadiusPetit: 10px 10px
