// IMPORT DES SOUS-FICHIERS SASS + FONTS + BOOTSTRAP + FONTAWESOME //
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed')
@import url('https://fonts.googleapis.com/css?family=Courgette')
@import './import/_variable.sass'
@import '../node_modules/bootstrap/scss/bootstrap.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss'
@import '../node_modules/@fortawesome/fontawesome-free/scss/regular.scss'
@import './import/_banner.sass'
@import './import/_story.sass'
@import './import/_chef.sass'
@import './import/_contact.sass'


// NE PAS TOUCHER
span
    background: bottom no-repeat url("../images/decoration_line.png")
    height: 10px
    width: 100%
    display: inline-block
    text-align: center
h1
    font-family: $policeBanner
h5
    font-family: $policeText
h6
    font-family: $policeText
h4
    font-family: $policeText